<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col">Country name</th>
      <th scope="col">Country flag</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button type="button" 
                class="btn"
                style="background-color: rgba(111, 28, 28, 1); color: white; margin-top: -5px;"
                ><strong>X</strong></button>
      </td>
    </tr>
  </tbody>
</table>
