<table class="table">
  <thead >
    <tr>
      <th scope="col">Country name</th>
      <th scope="col">Country flag</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of addedTeams">
      <td>{{ team.name }}</td>
      <td><img src="{{ team.iconUrl }}" alt="flag" style="height: 30px; width: 30px"></td>
      <td *ngIf="isTeamAdded">
        <button type="button" 
                class="btn"
                style="background-color: rgba(111, 28, 28, 1); color: white; margin-top: -5px;"
                (click)="onRemoveTeam(team.name)"
                ><strong>X</strong></button>
      </td>
    </tr>
  </tbody>
</table>
