<div class="container-fluid mt-4 pt-4">
    <div class="row mt-4">
        <div class="col-lg-4 d-flex justify-content-center" *ngFor="let match of matches">
            <app-match-preview [match]="match"></app-match-preview>
        </div>
    </div>
    <button type="button" 
            id="addMatch" 
            class="btn"
            style="background-color: rgba(111, 28, 28, 1); color: white;"
            (click)="openNewMatchModal()">
        <i class="fa fa-plus"></i>
    </button>
</div>
