<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newMatchForm" (ngSubmit)="onAddMatch()">
      <div class="container">
        <div class="row mt-3 mb-3">
          <div class="col-6 offset-3">
            <select
            #group
            class="form-select form-control"
            (change)="onGroupChange(group)"
            required
          >
            <option value="" selected disabled>Select group</option>
            <option *ngFor="let group of groups" [value]="group.id">
              {{ group.groupName }}
            </option>
          </select>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col-6">
            <select
              #team1
              id="team1"
              class="form-select form-control"
              formControlName="team1Id"
              (change)="onTeamChange(team1)"
              required
            >
              <option value="" selected disabled>Select first team</option>
              <option *ngFor="let team of team1Choices" [value]="team.id">
                {{ team.name }}
              </option>
            </select>
          </div>
          <div class="col-6">
            <select
              #team2
              id="team2"
              class="form-select form-control"
              formControlName="team2Id"
              (change)="onTeamChange(team2)"
              required
            >
              <option value="" selected disabled>Select second team</option>
              <option *ngFor="let team of team2Choices" [value]="team.id">
                {{ team.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col-6">
            <input
              type="datetime-local"
              class="form-control"
              formControlName="matchDateTime"
              required
            >
          </div>
          <div class="col-6">
            <select
              class="form-select form-control"
              formControlName="stadiumId"
              required
            >
              <option value="" selected disabled>Select stadium</option>
              <option *ngFor="let stadium of stadiums" [value]="stadium.id">
                {{ stadium.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col text-right">
            <button
              type="submit"
              class="btn btn-secondary btn-block mt-3 mb-3"
              style="background-color: rgba(111, 28, 28, 1); color: white"
              [disabled]="newMatchForm.invalid"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  