<nav class="navbar navbar-expand-md navbar-custom  fixed-top">
    <img src="/assets/img/qatar2022.png" style="width: 6em;">
    <div class="container-fluid">
          <ul class="navbar-nav" style="font-size: 1.1em;">
            <li class="nav-item">
              <a class="nav-link" routerLink="home" routerLinkActive="active" style="color: white;"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="groups-teams" routerLinkActive="active" style="color: white;"
                >Groups and teams</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="matches" routerLinkActive="active" style="color: white;"
                >Matches</a
              >
            </li>
          </ul>
    </div>
</nav>
